{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h1>فرم پذیرش</h1>
    <button onclick="window.print()" class="btn-primary btn-print"><img src="">پرینت</button>
    <div id="admission-form" class="forms">
        <p class="admission-date">{{ patient.date_of_admission }}</p>
        <p class="file-number">{{ patient.file_number }}</p>
        <p class="patient-name">{{ patient.first_name }} {{ patient.last_name }}</p>
        <p class="father-name">{{ patient.father_name }}</p>
        <p class="birth-date">{{ patient.birth_date }}</p>
        <p class="national-code">{{ patient.national_code }}</p>
        <p class="phone-number">{{ patient.phone_number }}</p>
    </div>
</div>
{% endblock content %}

