

{% load static %}
{% load jalali_tags %}

<html>
    <head>
        <title>base app</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/jQuery.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
        <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
        













    </head>
    <body>
        <div class="sidebar">
            <img id="logo" src="">
            <div class="menu">

                <a href="{% url 'home' %}" 
                {% if request.path == "/" %}
                    class="active"
                {% endif %}
                ><img class="icon" src="{% static 'pic/icon/home.png' %}">صفحه ی اصلی</a>

                <a href="{% url 'patients_list' %}"
                {% if request.path == "/patientslist/" %}
                    class="active"
                {% endif %}
                ><img class="icon" src="{% static 'pic/icon/list.png' %}">لیست بیماران</a>

                <a href="#"><img class="icon" src="{% static 'pic/icon/chat.png' %}">پشتیبانی</a>
                
            </div>
        </div>
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>   
    </body>
</html>

