

{% load static %}

<html>
    <head>
        <title>base app</title>
        <!-- example of css file address link -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
        <!-- example of js file address link -->
        <script src="{% static 'js/base.js' %}"></script>
        
        <!-- example of img file address link -->
        <img src="{% static 'icon/img1.jpg' %}" alt="Girl with ampool" width="500" height="200">

    </head>
    <body>
        <div class="sidebar">
            <img id="logo" src="">
            <div class="menu">
                <a href="{% url 'home' %}"><img class="icon" src="">صفحه ی اصلی</a>
                <a href="{% url 'patients_list' %}" class="active"><img class="icon" src="">لیست بیماران</a>
                <a href="#"><img class="icon" src="">پشتیبانی</a>
            </div>
        </div>
              
        {% block content %}
        {% endblock content %}
    </body>
</html>
    