{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <h1>صورت حساب بیمار</h1>
    <button onclick="window.print()" class="btn-primary btn-print"><img src="">پرینت</button>
    <div id="bills-form" class="forms">
        <p class="file-number">{{ patient.file_number }}</p>
        <p class="patient-name">{{ patient.first_name }} {{ patient.last_name }}</p>
        <p class="doctor-name">{{ patient.docter_name }}</p>
        <p class="father-name">{{ patient.father_name }}</p>
        <p class="birth-date">{{ patient.birth_date }}</p>
        <p class="national-code">{{ patient.national_code }}</p>
        <p class="admission-date">{{ patient.date_of_admission }}</p>
    </div>
</div>

{% endblock content %}

