{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>
<div class="container">
    <h1>صورت حساب بیمار</h1>
    <button onclick="window.print()" class="btn btn-primary btn-print"><img src="">پرینت</button>
    <div id="bills-form" class="forms">
        <p class="file-number">{{ patient.file_number }}</p>
        <p class="patient-name">{{ patient.first_name }} {{ patient.last_name }}</p>
        <p class="doctor-name">{{ patient.docter_name }}</p>
        <p class="father-name">{{ patient.father_name }}</p>
        <p class="birth-date">{{ patient.birth_date }}</p>
        <p class="national-code">{{ patient.national_code }}</p>
        <p class="admission-date">{{ patient.date_of_hospitalization }}</p>
        <p class="discharge-date">{{ patient.date_of_discharge}}</p>
        <p class="surgery-type">{{ patient.type_of_surgery }}</p>
        <p class="KidneyKruser">{{ patient.KidneyKruser | intcomma:False}}</p>
        <p class="AnestheticCost ">{{ patient.AnestheticCost | intcomma:False}}</p>
        <p class="InsurancePremium">{{ patient.InsurancePremium | intcomma:False}}</p>
    </div>
</div>

{% endblock content %}

