

{% extends 'base.html' %}

{% block content %}
<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>
<div class="container">
    <h2 class="row center" style="width: fit-content;">
        <div class="col-6 p-0" style="width: fit-content;">آیا از حذف پرداختی</div>
        <div class="col-6" style="color: var(--red); width: fit-content; padding: 0 5px;">{{ epayment.title }}</div>
        <div class="col-6 p-0" style="width: fit-content;">مطمئن هستید؟</div>
    </h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="flex">
            <input type="submit" value="تایید" class="center btn-delete"/>
        </div>
    </form>
</div>    
{% endblock content %}
