

{% extends 'base.html' %}

{% block content %}
<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>
<div class="container">
    <h2 class="center">آیا از حذف بیمار <a href="{% url 'patient_info' patient.pk %}" style="color: var(--red);">{{ patient.first_name }} {{ patient.last_name }}</a> مطمئن هستید؟ </h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="flex">
            <input type="submit" value="تایید" class="center btn-delete"/>
        </div>
    </form>
</div>    
{% endblock content %}
