{% extends 'base.html' %}

{% load humanize %}
{% block content %}






<div class="row">
    <form method="POST" action="{% url 'canceling' patient.pk %}" style="display: inline;">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary back">کنسل</button>
    </form>
</div>
<div class="container">
    <h1>اطلاعات مالی بیمار</h1>
    <hr style="margin-bottom: 40px;">
    <form method="POST" action="{% url 'dis' patient.pk %}">
        {% csrf_token %}
        <p><span class="sub-title" style="width: 250px;">حق العمل سنگ شکنی</span>{{ tar.kidney_crusher_cost | intcomma:False }}    ریال</p>   
        <p><span class="sub-title" style="width: 250px;">حق العمل بیهوشی</span>{{ tar.anesthetic_cost | intcomma:False }}    ریال</p>   
        <p><span class="sub-title" style="width: 250px;">هزینه دارو و لوازم مصرفی</span>{{ tar.drug_and_consumables_cost | intcomma:False }}    ریال</p></p>  
        <p><span class="sub-title" style="width: 250px;">جمع تعرفه مرکز</span>{{ tar.TotalSumForCenter | intcomma:False }}    ریال</p>  
        <p><span class="sub-title" style="width: 250px;">فرانشیز (درصد)</span>% {{ patient.Fran }} </p>                
        <p><span class="sub-title" style="width: 250px;">مبلغ پرداختی بیمه </span>{{ patient.InsurancePremium | intcomma:False }} {% if patient.InsurancePremium == "ابتدا بیمه اصلی را انتخاب کنید" %}{% else %}<span>ریال</span>{% endif %}</p>      
        <p><span class="sub-title" style="width: 250px;">مبلغ تخفیف</span>
            <span>
                <input onblur="change();" class="form-control py-2" type="text" placeholder="تخفیف" aria-label="Search" name="dis" value="{{ patient.discount | intcomma:False}}" style="margin: 15px -10px;">
            </span>
            <span class="btn btn-secondary" onclick="change();">اعمال تخفیف</span>
        </p>
        <hr style="margin-bottom: 40px;">
            <p><span class="sub-title" style="width: 250px; color: black; font-size: 18px;">مبلغ پرداختی توسط بیمار</span><span class="pay btn-secondary"><span>{{ patient.Franchise | intcomma:False}} {% if patient.InsurancePremium == "ابتدا بیمه اصلی را انتخاب کنید" %}{% else %}</span><span> ریال</span>{% endif %}</span></p>
        <br>
        <div class="flex-left">
            <button  class="btn btn-primary" type="submit" >ثبت</button> 
            
        </div>
    </form>
</div>

<script>
    function change(){

        var patientFranchise = parseInt(document.querySelector(".pay span").innerText.replace(",",""));
        var discount = parseInt(document.querySelector("span input").value);
        document.querySelector(".pay span").innerText = (patientFranchise-discount).toLocaleString();
    }


</script>


{% endblock content %}


