{% extends 'base.html' %}

{% load humanize %}
{% block content %}


<form method="POST" action="{% url 'canceling' patient.pk %}">
    {% csrf_token %}
        <button type="submit" class="btn btn-delete">کنسل</button>
</form>




<div class="container">
    <h1>اطلاعات بیمار</h1>
    <hr>
    <p><span class="sub-title" style="width: 250px;">فرانشیز (درصد)</span>% {{ patient.Fran }} </p>                
    <p><span class="sub-title" style="width: 250px;">مبلغ پرداختی توسط بیمار</span>{{ patient.Franchise | intcomma:False}} {% if patient.InsurancePremium == "ابتدا بیمه اصلی را انتخاب کنید" %}{% else %}<span>ریال</span>{% endif %}</p>
    <p><span class="sub-title" style="width: 250px;">مبلغ پرداختی بیمه </span>{{ patient.InsurancePremium | intcomma:False }} {% if patient.InsurancePremium == "ابتدا بیمه اصلی را انتخاب کنید" %}{% else %}<span>ریال</span>{% endif %}</p>
    <p><span class="sub-title" style="width: 250px;">وضعیت پرداخت بیمه </span>{% if patient.paid == False %}<span class="status btn-delete" style="margin-right: -5px;">پرداخت نشده</span>{% else %}<span class="status btn-secondary" style="margin-right: -5px;">پرداخت شده</span>
        {% endif %}        
        <p><span class="sub-title">تخفیف</span></span>{{ patient.discount | intcomma:False}}</p>
                <form method="POST" action="{% url 'dis' patient.pk %}" class="btn">
                    {% csrf_token %}
                    <input class="form-control py-2"
                    type="text" placeholder="تخفیف" aria-label="Search"
                    name="dis">
                    <button id="search-button" class="btn btn-primary" type="submit">ثبت</button>
                </form>
</div>


{% endblock content %}


