{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>
<div class="container">
    <h1>فرم دارو و لوازم مصرفی</h1>
    <button onclick="window.print()" class="btn btn-primary btn-print">پرینت</button>
    <div id="admission-form" class="forms">
        <p class="admission-date">{{ patient.date_of_admission }}</p>
        <p class="file-number">{{ patient.FileNumber }}</p>
        <p class="patient-name">{{ patient.first_name }} {{ patient.last_name }}</p>
        <p class="national-code">{{ patient.national_code }}</p>
        <p class="discharge-date">{{ patient.date_of_discharge}}</p>
        <p class="anesthesia-doctor">{{ patient.anesthesia_doctor_name }}</p>
        <p class="surgery-type">{{ patient.type_of_surgery }}</p>
        <p class="KidneyKruser">{{ patient.KidneyKruser | intcomma:False}}</p>
        <p class="DrugCost">{{ patient.DrugCost | intcomma:False}}</p>
        <p class="AnestheticCost ">{{ patient.AnestheticCost | intcomma:False}}</p>
        <p class="patient-Franchise-percent">{{ patient.Fran | intcomma:False}}%</p>
        <p class="patient-Franchise">{{ patient.Franchise | intcomma:False}}</p>
        <p class="InsurancePremium">{{ patient.InsurancePremium | intcomma:False}}</p>
        <p class="total-tariff">{{ patient.TotalSumForCenter | intcomma:False}}</p>
</div>
</div>
{% endblock content %}

