{% load static %}

<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base.js' %}"></script>
    </head>
    <body>
        <div class="row" id="home">
            <div class="col-6">
                <a class="h-one" href="{% url 'patients_list' %}">
                    <div class="hexagon"> <img class="home-icon" src="{% static 'pic/icon/multiple-users-silhouette.png' %}">لیست بیماران</div>
                </a>
                <a class="h-two" href="{% url 'insurance_list' %}">
                    <div class="hexagon"><img class="home-icon" src="{% static 'pic/icon/business-and-trade.png' %}">شرکت های بیمه</div>
                </a>
                <a class="h-three" href="{% url 'tariff_list' %}">
                    <div class="hexagon"><img class="home-icon" src="{% static 'pic/icon/sale.png' %}">تعرفه ها</div>
                </a>
                <a class="h-four" href="{% url 'fund_list' %}">
                    <div class="hexagon"><img class="home-icon" src="{% static 'pic/icon/wallet-filled-money-tool.png' %}">تنخواه</div>
                </a>
                <a class="h-five" href="{% url 'reports' %}">
                    <div class="hexagon"><img class="home-icon" src="{% static 'pic/icon/file.png' %}">گزارش گیری</div>
                </a>
                <a class="h-six" href="{% url 'new_patient' %}">
                    <div class="hexagon"><img class="home-icon" src="{% static 'pic/icon/patient.png' %}">افزودن بیمار </div>
                </a>
                <div class="h-seven">
                    <div class="hexagon">
                            <img src="{% static 'pic/white-logo.png' %}" class="home-logo">
                    </div>
                </div>
            </div>

            <a class="help-button"href="{% url 'support' %}">
                <button class="btn btn-primary"><img class="" src="{% static 'pic/icon/help.png' %}">پشتیبانی </button>
            </a>
        </div>
    </body>
</html>







