

{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block content %}
{% load humanize %}

    <!-- <button onclick="window.print()">Print this page</button> -->
    <!-- <img src="{% static 'icon/img1.jpg' %}" alt="Girl with ampool" width="500" height="200"> -->



    <div class="container">
        <div class="row patient-header">
            <div class="col-3">
                <div class="avatar">
                </div>
            </div>
            <div class="col-9">
                <h2>{{ insurance.name }}</h2>

                <a href="{% url 'insurance_edit' insurance.slug %}"><button class="btn btn-primary">ویرایش</button></a>
                &nbsp;
                <a href="{% url 'insurance_delete' insurance.slug %}"><button class="btn btn-secondary">حذف</button></a>
            </div>
        </div>
        <br>
        </br>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2>اطلاعات شرکت بیمه</h2>
                <p><span class="sub-title">نام بیمه</span>{{ insurance.name}}</p>
            </div>
        </div>
        <br>
        <hr>
        <div class="row patient-forms">
            <div class="col-12">
            </div>
        </div>
    </div>



    <form method="GET" action="{% url 'patient_insurance' insurance.slug %}">

        <button class="btn btn-primary" type="submit" name='x' value="{{insurance.slug}}">
            لیست بیماران تحت پوشش
        </button>
        
    </form>

    {% endblock content %}