

{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block content %}
{% load humanize %}


    <div class="container">
        <div class="row center">
            <div class="col-12">
                {% if insurance.cover %}
                    <img  src="{{ insurance.cover.url}}" style="height: 200px;">
                {% else %}
                    <img  src="{% static 'pic/icon/Health-Insurance-logo.png' %}" style="height: 200px;">
                {% endif %}
            </div>
            <div class="col-12">
                <h2 style="margin: 10px;">{{ insurance.name }}</h2>
            </div>
            <div class="col-12 flex">
                <form class="center" method="GET" action="{% url 'patient_insurance' insurance.slug %}">
                    <button class="btn btn-primary insurance-patients" type="submit" name='x' value="{{insurance.slug}}"> لیست بیماران تحت پوشش</button> 
                </form>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-12">
                <p><span class="sub-title" style="width: 250px;">بانک معرفی شده به بیمه</span>{{ insurance.bank_account }}</p>
                <p><span class="sub-title" style="width: 250px;">شعبه</span>{{ insurance.branchs_name }}</p>
                <p><span class="sub-title" style="width: 250px;">شماره حساب</span>{{ insurance.bank_card_num }}</p>
                <!-- <p><span class="sub-title" style="width: 250px;">فرانشیز (درصد)</span>% {{ insurance.Fran2 }} </p> -->
                <p><span class="sub-title" style="width: 250px;">مجموع بدهکاری و بستانکاری</span>{{ insurance.total_debits_and_credits }}</p>
                <p><span class="sub-title" style="width: 250px;">نام مدیر مرکز</span>{{ insurance.boss_name }}</p>
                <br>
                <div class="float-left">
                    <a href="{% url 'insurance_edit' insurance.slug %}"><button class="btn btn-secondary">ویرایش</button></a>
                    &nbsp;
                    <a href="{% url 'insurance_delete' insurance.slug %}"><button class="btn btn-delete">حذف</button></a>
                </div>
            </div>
        </div>
    </div>





    {% endblock content %}