{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load jalali_tags %}









<p>
    <b>بسمه تعالی <br>
        مدیریت محترم {{ insurance.name }}<br>
        
با سلام و احترام به پیوست {{ leng }} برگ صورتحساب بخش سنگ شکنی این مرکز در ماه &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; که در این واحد مورد درمان قرار گرفته اند به شرح زیر ارسال می گردد.
خواهشمند است دستور فرمایید مبلغ درخواستی را به حساب شماره {{ insurance.bank_card_num }} بانک {{ insurance.bank_account }} شعبه {{ insurance.branchs_name }} واریز نمایید. <br>
      <br>
    </b>
</p>


{% for patient in patient %}
    <p>{{ patient.first_name }}</p>
{% endfor %}

<a>
    مدیر عامل مرکز جراحی محدود شقایق&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;آقای خردمند
</a>


<!-- <p>
{% for patient in patient %}
        {{ patient.birth_date }}
{% endfor %}
</p> -->




{% endblock content %}