
{% extends 'base.html' %}

{% block content %}

{% load jalali_tags %}
<div class="row">
  <div class="col-9">
  </div>
  <div class="col-3">
    <a href="{% url 'new_insurance' %}"><button class="btn btn-primary float-left">افزودن شرکت بیمه جدید</button></a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div id="patientslist">
        <table>
          <thead>
            <tr>
              <th>نام بیمار</th>
              <th> تاریخ پذیرش</th>
              <th>نام پزشک</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
  







            <!-- search part -->
<!-- 
            </form>   
   
            <form method="GET" action="{% url 'search' %}">
              {% csrf_token %}
              <input class="form-control py-2"
              type="search" placeholder="name Search" aria-label="Search"
              name="name search">

              <input class="form-control py-2"
              type="search" placeholder="national code Search" aria-label="Search"
              name="national code search">

              <input class="form-control py-2"
              type="search" placeholder="file number Search" aria-label="Search"
              name="file number search">

              <input type="date" class="form-control" id="publishDateMin" name="date_min">
              <input type="date" class="form-control" id="publishDateMax" name="date_max">
              
              <button class="btn btn-primary" type="submit">
                Search
              </button>

            </form> -->
        
        
        
            <!-- end of search part -->


            <tbody>
                {% for insurance in insurance_obj %}
                <tr class="patient">
                  <td><a href="{% url 'insurance_info' insurance.slug %}">{{ insurance.name }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>




{% endblock content %}
