
{% extends 'base.html' %}

{% block content %}

{% load jalali_tags %}

    <div>
        <h1 style="color: var(--black); padding-right: 12px;">نتایج جستجو :</h1>
        <form method="GET" action="{% url 'export_excel' %}" class="excel-btn">
            <button class="btn btn-primary" type="submit" name='y' value="{{queryset}}" >خروجی اکسل</button> 
        </form>
        <form method="GET" action="{% url 'insurance_letter' %}">
            <button class="btn btn-primary float-left" type="submit" name='n' value="{{qid}}" >نامه بیمه</button> 
        </form>
        <div class="patients-container">
            <div class="row">
                <div class="col-12">
                    <div id="report">
                        <table>
                            <thead>
                                <tr>
                                    <th>نام بیمار</th>
                                    <th>شماره پرونده</th>
                                    <th>تاریخ پذیرش</th>
                                    <th>بیمه تکمیلی</th>
                                    <th>وضعیت پرداخت</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for patient in queryset %}
                                <tr class="patient">
                                    <td>
                                        <a href="{% url 'patient_info' patient.pk %}">{{ patient.first_name }} {{ patient.last_name }}</a>
                                    </td>
                                    <td style="direction: ltr;">{{patient.file_number}}</td>
                                    <td>{{patient.date_of_admission}}</td>
                                    <td>{{patient.basic_insurance}}</td>
                                    <td class="button">
                                        <form method="POST" action="{% url 'paid' patient.pk %}">
                                            {% csrf_token %}
                                            {% if patient.paid == False %}
                                                <button type="submit" class="btn btn-delete">پرداخت نشده</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-secondary">پرداخت شده</button>
                                            {% endif %}
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr class="empty-table patient">
                                    <td colspan="6"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




<!-- <p>
    {{qid}}
</p>

<p>
    {% for l in qid %}
    {{l}}
    {% endfor %}
</p>



    </div>
  <p>
    {{x}}
  </p>
  <p>
    {{lis}}
  </p>
  <p>
    {{li1}}
  </p> -->

{% endblock content %}

      