{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
{% load jalali_tags %}







<button onclick="window.print()" class="btn btn-primary" style="margin: 1% 69% 2% 0%;"><img src="{% static 'pic/icon/download.png' %}">دریافت نامه</button>
<div class="letter-container" style="margin: auto;">
    <h2 class="center">بسمه تعالی</h2>
    <h3>مدیریت محترم {{ insurance.name }}</h3>
    <p style="text-align: justify;">
        با سلام و احترام به پیوست {{ leng }} برگ صورتحساب بخش سنگ شکنی این مرکز در  {{ mah }} ماه {{sal}} که در این واحد مورد درمان قرار گرفته اند به شرح زیر ارسال می گردد.
        خواهشمند است دستور فرمایید مبلغ درخواستی را به حساب شماره {{ insurance.bank_card_num }} بانک {{ insurance.bank_account }} شعبه {{ insurance.branchs_name }} واریز نمایید.
    </p>
    <br>
    <table class="letter-table center">
        <thead>
            <th>ردیف</th>
            <th>تاریخ عمل</th>
            <th>نام بیمار</th>
            <th>نام پزشک</th>
            <th>نوع عمل</th>
            <th>مبلغ</th>
        </thead>
        <tbody>
            {% for patient in patient %}
                <tr>
                    <td></td>
                    <td>{{patient.date_of_hospitalization}}</td>
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                    <td>{{ patient.doctor_name }}</td>
                    <td>{{ patient.type_of_surgery}}</td>
                    <td>{{ patient.InsurancePremium | intcomma:False }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">مبلغ کل : {{numword}} ریال</td>
                <td colspan="2">{{ sumIP | intcomma:False }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <p class="center">
        <b>
            جناب آقای {{insurance.boss_name}} 
            <br>
            مدیر عامل مرکز جراحی محدود شقایق 
        </b>
    </p>
</div>

<script>
          //insurane letter table 
          var table = document.getElementsByClassName('letter-table')[0],
      rows = table.getElementsByTagName('tr'),
      text = 'textContent' in document ? 'textContent' : 'innerText';
      var totalPrice =0
      for (var i = 1, len = rows.length-1; i < len; i++) {
        rows[i].children[0][text] = i + rows[i].children[0][text];
      }
</script>

{% endblock content %}