{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>

<div class="container">
    <h1>اطلاعات بیمار</h1>
    <hr>
    <!-- <form action="" method="post"> -->
    <!-- {% csrf_token %} -->
    <!-- {{ form.as_p }} -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <label>نام :</label>
                {{ form.first_name }}
            </div>
            <div class="col-6">
                <label>نام خانوادگی :</label>
                {{ form.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>نام پدر :</label>
                {{ form.father_name }}
            </div>
            <div class="col-6">
                <label>جنسیت :</label>
                {{ form.sex }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>تاریخ تولد :</label>
                {{ form.birth_date }}
            </div>
            <div class="col-6">
                <label>کدملی :</label>
                {{ form.national_code }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>تلفن ثابت :</label>
                {{ form.home_phone }}
            </div>
            <div class="col-6">
                <label>تلفن همراه :</label>
                {{ form.phone_number }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>آدرس :</label>
                {{ form.address }}
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-6">
                <label>تاریخ پذیرش :</label>
                {{ form.date_of_admission }}
            </div>
            <div class="col-6">
                <label>تعرفه :</label>
                {{ form.payment_tariff }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>شماره پرونده :</label>
                {{ form.file_number }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>نام معرف :</label>
                {{ form.presenter }}
            </div>
            <div class="col-6">
                <label>پزشک معرف :</label>
                {{ form.docter_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>توضیحات :</label>
                {{ form.description }}
            </div>
        </div>
        <div class="flex-left">
            <input  type="submit" value="ذخیره" style="width: 18%;"/>
        </div>
    </form>
</div>
{% endblock content %}


