

{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load humanize %}
{% load jalali_tags %}


    <!-- <button onclick="window.print()">Print this page</button> -->
    <!-- <img src="{% static 'icon/img1.jpg' %}" alt="Girl with ampool" width="500" height="200"> -->


    <div class="row">
        <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
    </div>
    <div class="container">
        <div class="row patient-header">
            <div class="col-3">
                <div class="avatar">
                    {% if  patient.sex == "F" %}
                        <img src="{% static 'pic/icon/User-Female.png' %}">
                    {% else %}
                        <img src="{% static 'pic/icon/User-Male.png' %}">
                    {% endif %}
                </div>
            </div>
            <div class="col-9">
                <h2>{{ patient.first_name }} {{ patient.last_name }}</h2>
                <span class="sub-title" style="color: var(--black);">شماره پرونده &nbsp; &nbsp; &nbsp;</span><div style="display: inline;
                direction: ltr;">{{ patient.FileNumber }}</div>
                <p style="color: var(--gray);"><span class="sub-title">تاریخ پذیرش &nbsp; &nbsp; &nbsp;</span>{{patient.date_of_admission}}</p>
                </br>
                <a href="{% url 'patient_edit' patient.pk %}"><button class="btn btn-secondary">ویرایش اطلاعات بیمار</button></a>
                &nbsp;
                <a href="{% url 'patient_delete' patient.pk %}"><button class="btn btn-delete">حذف بیمار</button></a>
            </div>
        </div>
        <br>
        </br>
        <hr>
        <div class="row">
            <div class="col-12 second-info">
                <h2>اطلاعات شخصی بیمار</h2>
                <p><span class="sub-title">نام پدر</span>{{ patient.father_name}}</p>
                <p><span class="sub-title">تاریخ تولد</span>{{patient.birth_date}}</p>
                <p><span class="sub-title">کدملی</span>{{ patient.national_code }}</p>
                <p><span class="sub-title">تلفن ثابت</span>{{ patient.home_phone }}</p>
                <p><span class="sub-title">تلفن همراه</span>{{ patient.phone_number }}</p>
                <p><span class="sub-title">آدرس</span>{{ patient.address}}</p>
                <p><span class="sub-title">نام معرف</span></span>{{ patient.presenter}}</p>
                <p><span class="sub-title">وضعیت پذیرش بیمار </span>{% if patient.canceling == False %}فعال{% else %}کنسل شده{% endif %}
                <br>
                <form method="POST" action="{% url 'canceling' patient.pk %}">
                    {% csrf_token %}
                    {% if patient.canceling == False %}
                        <button type="submit" class="btn btn-delete" style="margin-top: 10px;">کنسل کردن بیمار</button>
                    {% else %}
                        <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">فعال کردن بیمار</button>
                    {% endif %}
                </form>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-12 second-info">
                <h2>اطلاعات پزشکی بیمار</h2>
                <p><span class="sub-title">نوع عمل</span>{{ patient.type_of_surgery}}</p>
                <p><span class="sub-title">پزشک بیهوشی</span>{{ patient.anesthesia_doctor_name}}</p>
                <p><span class="sub-title">اپراتور سنگ شکنی</span>{{ patient.operator}}</p>
                <p><span class="sub-title">تاریخ بستری</span>{{ patient.date_of_admission }}</p>
                <p><span class="sub-title">تاریخ ترخیص</span>{{ patient.date_of_discharge}}</p>
                <p><span class="sub-title">بیمه اصلی</span>{{ patient.supplementary_insurance }}</p>
                <p><span class="sub-title">بیمه تکمیلی</span>{{ patient.basic_insurance }}</p>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-12 second-info">
                <h2>اطلاعات مالی بیمار</h2>
                <p><span class="sub-title" style="width: 250px;">فرانشیز (درصد)</span>{% if patient.Fran == "ابتدا درصد فرانشیز بیمار را وارد کنید" %}{% else %}%{% endif %}{{ patient.Fran }}</p>                
                <p><span class="sub-title" style="width: 250px;">مبلغ پرداختی توسط بیمار</span>{{ patient.Franchise | intcomma:False}} {% if patient.InsurancePremium == "ابتدا بیمه تکمیلی را انتخاب کنید" %}{% else %}<span>ریال</span>{% endif %}</p>
                <p><span class="sub-title" style="width: 250px;">مبلغ پرداختی بیمه </span>{{ patient.InsurancePremium | intcomma:False }} {% if patient.InsurancePremium == "ابتدا بیمه تکمیلی را انتخاب کنید" %}{% else %}<span>ریال</span>{% endif %}</p>
                <p><span class="sub-title" style="width: 250px;">وضعیت پرداخت بیمه </span>{% if patient.paid == False %}<span class="status btn-delete" style="margin-right: -5px;">پرداخت نشده</span>{% else %}<span class="status btn-secondary" style="margin-right: -5px;">پرداخت شده</span>{% endif %}</p>
                <a href="{% url 'discount' patient.pk %}"><button class="btn btn-primary" style="margin-top: 10px;">اعمال تخفیف</button></a>
            </div>
        </div>
        <br>
        <hr>
        <div class="row patient-forms">
            <div class="col-12">
                <h2>فرم های بیمار</h2>
                <p><a href="{% url 'anesthesia_form' patient.pk %}"><img class="icon" src="{% static 'pic/icon/form.png' %}">برگه بیهوشی</a></p>
                <p><a href="{% url 'surgery_report_form' patient.pk %}"><img class="icon" src="{% static 'pic/icon/form.png' %}">گزارش عمل جراحی</a></p>
                <p><a href="{% url 'drug_and_consumables_form' patient.pk %}"><img class="icon" src="{% static 'pic/icon/form.png' %}">فرم دارو و لوازم مصرفی</a></p>
                <p><a href="{% url 'bills_form' patient.pk %}"><img class="icon" src="{% static 'pic/icon/form.png' %}">صورت حساب بیمار</a></p>
            </div>
        </div>
    </div>
    




    {% endblock content %}

