
{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-9">
    <input type="text" id="search" onkeyup="filterPatient()" placeholder="جستوجو ...">

    <div id="filter">
      <div>جستوجو بر اساس:</div>
      <input type="radio" id="search-patient" name="filter" value="patient-name" checked onclick="filterPatient()">
      <label for="html">نام بیمار</label>
      <input type="radio" id="search-date" name="filter" value="date_of_admission" onclick="filterPatient()">
      <label for="css">تاریخ پذیرش</label>
      <input type="radio" id="search-doctor" name="filter" value="docter_name" onclick="filterPatient()">
      <label for="javascript">نام پزشک</label>
    </div>

    <input type="text" id="min" name="min" onkeyup="searchDate()">
    <input type="text" id="max" name="max" onkeyup="searchDate()">
  </div>
  <div class="col-3">
    <a href="{% url 'new_patient' %}"><button class="btn-primary float-left">افزودن بیمار جدید</button></a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div id="patientslist">
        <table>
          <thead>
            <tr>
              <th>نام بیمار</th>
              <th> تاریخ پذیرش</th>
              <th>نام پزشک</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for patient in patient %}
            <tr class="patient">
              <td><a href="{% url 'patient_info' patient.pk %}">{{ patient.first_name }} {{ patient.last_name }}</a></td>
              <td>{{patient.date_of_admission}}</td>
              <td>{{patient.docter_name}}</td>
              <td class="button"><a href="{% url 'patient_info' patient.pk %}"><button class="show-patient">مشاهده</button></a></td>
              <td class="button"><button class="delete-patient"><a href="{% url 'patient_delete' patient.pk %}">حذف</a></button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>


<!-- <div class="pagination">
  <span class="step-links">
      {% if patient.has_next %}
          <a class="btn btn-primary float-right" href="?page={{patient.next_page_number}}">&larr; previous patients</a>
      {% endif %}
      
      <span class="current">
          | Page {{ patient.number }} of {{ patient.paginator.num_pages }} |
      </span>

      {% if patient.has_previous %}
          <a class="btn btn-primary float-right" href="?page={{patient.previous_page_number}}">next patients&rarr;</a>
      {% endif %}
  </span>
</div>     -->




 <!-- start of pagination -->

 <div class="pagination">
    {% if patient.has_previous %}
        <a href="?page={{ patient.previous_page_number }}">&laquo;</a>
    {% else %}
        <a class="disabled" href="#" tabindex="-1" aria-disabled="True">&laquo;</a>
    {% endif %}

  {% if patient.number|add:'-4' > 1 %}
     <a class="page-link" href="?page={{ patient.number|add:'-5' }}">&hellip;</a>
  {% endif %}

  {% for i in patient.paginator.page_range %}
      {% if patient.number == i %}
              <a class="active">{{ i }}</a>
      {% elif i > patient.number|add:'-5' and i < patient.number|add:'5' %}
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      {% endif %}
  {% endfor %}

  {% if patient.paginator.num_pages > patient.number|add:'4' %}
      <a class="page-link" href="?page={{ patient.number|add:'5' }}">&hellip;</a>
  {% endif %}

  {% if patient.has_next %}
      <a class="page-link" href="?page={{ patient.next_page_number }}">&raquo;</a>
  {% else %}
      <a class="disabled" href="#" tabindex="-1" aria-disabled="True">&raquo;</a>
  {% endif %}
</div> 


<!-- end of pagination -->






{% endblock content %}

<!-- <a href="{% url 'patient_delete' patient.pk %}">+ Delete Blog Post</a> -->