

{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- <button onclick="window.print()">Print this page</button> -->
    <!-- <img src="{% static 'icon/img1.jpg' %}" alt="Girl with ampool" width="500" height="200"> -->


    <p><a href="{% url 'admission_form' patient.pk %}">Admission Form</a></p>
    <p><a href="{% url 'anesthesia_form' patient.pk %}">Anesthesia Form</a></p>
    <p><a href="{% url 'bills_form' patient.pk %}">Bills Form</a></p>
    <p><a href="{% url 'surgery_report_form' patient.pk %}">Surgery Report Form</a></p>



    <div class="post-entry">
        <h2>{{ patient.first_name }}</h2>
        <p>{{ patient.last_name }}</p>
        <p>{{ patient.docter_name }}</p>
        <p>{{ patient.father_name }}</p>
        <p>{{ patient.birth_date }}</p>
    </div>

    <p><a href="{% url 'patient_edit' patient.pk %}">+ Edit Patient</a></p>
    <p><a href="{% url 'patient_delete' patient.pk %}">+ Delete Blog Post</a></p>
    {% endblock content %}

