{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="search-container">
    <form method="get" action="{% url 'insurance_search' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <input class="form-control py-2"
                type="search" placeholder="جستوجو نام بیمار ..." aria-label="Search"
                name="name search">
                <input class="form-control py-2"
                type="search" placeholder="جستوجو کدملی بیمار ..." aria-label="Search"
                name="national code search">
                <input class="form-control py-2"
                type="search" placeholder="جستوجو شماره پرونده بیمار ..." aria-label="Search"
                name="file number search">
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                &nbsp;&nbsp;
                از تاریخ 
                <input  class="form-control" id="publishDateMin" name="date_min" data-jdp>
                تا
                <input  class="form-control" id="publishDateMax" name="date_max" data-jdp>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-9">
                &nbsp;&nbsp;
                وضعیت پرداخت :
                &nbsp;&nbsp;
                <input class="form-checkbox"
                type="checkbox" id="paid" placeholder="پرداخت شده" aria-label="Search"
                name="paid search" for="paid" >پرداخت شده
                &nbsp;&nbsp;
                <input class="form-checkbox"
                type="checkbox" id="unpaid" placeholder="پرداخت نشده" aria-label="Search"
                name="unpaid search" for="unpaid" >پرداخت نشده
            </div>
            <div class="col-3 ">
                <button id="search-button" class="btn btn-primary" type="submit" name='m' value="{{request.resolver_match.kwargs.pk}}">جستجو</button>
            </div>
        </div>
    </form>
</div>



    <div class="patients-container">
        <div class="row">
            <div class="col-12">
                <div id="report">
                    <table>
                        <thead>
                            <tr>
                                <th>نام بیمار</th>
                                <th> کد ملی</th>
                                <th>شماره پرونده</th>
                                <th>تاریخ پذیرش</th>
                                <th>بیمه اصلی</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in querys %}
                            <tr class="patient">
                                <td>
                                    <a href="{% url 'patient_info' patient.pk %}">{{ patient.first_name }} {{ patient.last_name }}</a>
                                </td>
                                <td>{{patient.national_code}}</td>
                                <td style="direction: ltr;">{{patient.FileNumber}}</td>
                                <td>{{patient.date_of_admission}}</td>
                                <td>{{patient.basic_insurance}}</td>
                            </tr>
                            {% endfor %}
                            <tr class="empty-table patient">
                                <td colspan="6"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<!-- </form> -->


<!-- {% for patient in querys %}
  
<p><a href="{% url 'patient_info' patient.pk %}">
    {{ patient.first_name }} {{ patient.last_name }}
</a></p>
<input type="checkbox" name="chk[]" value="{{ patient.pk }}">
<br><br>

{% endfor %} -->




    <div class="flex">
        <div class="pagination">
            {% if querys.has_previous %}
                {% if 'x' in request.get_full_path %}
                    <a class="arrow" href="{{ request.get_full_path }}&screen={{ querys.previous_page_number }}"><img src="{% static 'pic/icon/next.png' %}"></a>
                {% else %}
                    <a class="arrow" href="?screen={{ querys.previous_page_number }}"><img src="{% static 'pic/icon/next.png' %}"></a>
                {% endif %}
            {% else %}
                <a class="disabled arrow" href="#" tabindex="-1" aria-disabled="True"><img src="{% static 'pic/icon/next.png' %}"></a>
            {% endif %}
      
          {% if querys.number|add:'-4' > 1 %}

            {% if 'x' in request.get_full_path %}
                <a href="{{ request.get_full_path }}&screen={{ querys.number|add:'-5' }}">&hellip;</a>
            {% else %}
                <a class="page-link" href="?screen={{ querys.number|add:'-5' }}">&hellip;</a>
            {% endif %}


            
          {% endif %}
      
          {% for i in querys.paginator.page_range %}
              {% if querys.number == i %}
                      <a class="active">{{ i }}</a>
              {% elif i > querys.number|add:'-5' and i < querys.number|add:'5' %}


                {% if 'x' in request.get_full_path %}
                    <a href="{{ request.get_full_path }}&screen={{  i  }}">{{ i }}</a>
                {% else %}
                    <a class="page-link" href="?screen={{ i }}">{{ i }}</a>
                {% endif %}




              {% endif %}
          {% endfor %}
      
          {% if querys.paginator.num_pages > querys.number|add:'4' %}
          

            {% if 'x' in request.get_full_path %}
                <a href="{{ request.get_full_path }}&screen={{  querys.number|add:'5'  }}">&hellip;</a>
            {% else %}
                <a class="page-link" href="?screen={{ querys.number|add:'5' }}">&hellip;</a>
            {% endif %}



          {% endif %}
      







          {% if querys.has_next %}


            {% if 'x' in request.get_full_path %}
                <a class="arrow" href="{{ request.get_full_path }}&screen={{  querys.next_page_number  }}"><img src="{% static 'pic/icon/previous.png' %}"></a>
            {% else %}
                <a class="page-link arrow" href="?screen={{ querys.next_page_number }}"><img src="{% static 'pic/icon/previous.png' %}"></a>
            {% endif %}



          {% else %}
              <a class="disabled arrow" href="#" tabindex="-1" aria-disabled="True"><img src="{% static 'pic/icon/previous.png' %}"></a>
          {% endif %}
        </div> 
      </div>

      <script>
        jalaliDatepicker.startWatch({
        minDate: "attr",
        maxDate: "attr"
        }); 
    </script>
{% endblock content %}


