
{% extends 'base.html' %}
{% block content %}

<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>
<!-- {{form.as_p}} -->
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <h1>اطلاعات شخصی بیمار</h1>
        <hr>
        <div class="row">
            <div class="col-6">
                <label><span style="color: var(--red);">*</span> نام :</label>
                {{ form.first_name }}
            </div>
            <div class="col-6">
                <label><span style="color: var(--red);">*</span> نام خانوادگی :</label>
                {{ form.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>نام پدر :</label>
                {{ form.father_name }}
            </div>
            <div class="col-6">
                <label>جنسیت :</label>
                {{ form.sex }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>تاریخ تولد :</label>
                {{ form.birth_date }}
            </div>
            <div class="col-6">
                <label>کدملی :</label>
                {{ form.national_code }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>تلفن ثابت :</label>
                {{ form.home_phone }}
            </div>
            <div class="col-6">
                <label>تلفن همراه :</label>
                {{ form.phone_number }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>آدرس :</label>
                {{ form.address }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>نام پزشک معرف :</label>
                {{ form.docter_name }}
            </div>
            <div class="col-6">
                <label>نام معرف :</label>
                {{ form.presenter }}
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <label>توضیحات :</label>
                {{ form.description }}
            </div>
        </div> -->
        <br>
        <br>
        <br>
        <h1>اطلاعات پزشکی بیمار</h1>
        <hr>
        <div class="row">
            <div class="col-6">
                <label><span style="color: var(--red);">*</span> تاریخ پذیرش :</label>
                {{ form.date_of_admission }}
            </div>
            <div class="col-6">
                <label>نوع عمل :</label>
                {{ form.type_of_surgery }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>اپراتور سنگ شکنی :</label>
                {{ form.operator }}
            </div>
            <div class="col-6">
                <label>پزشک بیهوشی :</label>
                {{ form.anesthesia_doctor_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>تاریخ ترخیص :</label>
                {{ form.date_of_discharge }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <label><span style="color: var(--red);">*</span> تعرفه :</label>
                {{ form.payment_tariff }}
            </div>
            <div class="col-6">
                <label><span style="color: var(--red);">*</span> فرانشیز (درصد) :</label>
                {{ form.franchising }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>بیمه اصلی :</label>
                {{ form.supplementary_insurance }}
            </div>
            <div class="col-6">
                <label><span style="color: var(--red);">*</span> بیمه تکمیلی :</label>
                {{ form.basic_insurance }}
            </div>
        </div>
        <div class="row">
            <div class="col-14">
                <label>تخفیف :</label>
                {{ form.discount }}
            </div>
        </div>
        <br>
        <div class="flex-left">
            <input  type="submit" value="ذخیره" style="width: 18%;"/>
        </div>
    </form>
</div>
{% endblock content %}









