{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container contact">
    <h1>پشتیبانی</h1>
    <p>در صورت بروز هرگونه مشکل با اطلاعات تماس زیر با ما در ارتباط باشید. </p>
    <div>
        <img class="icon" src="{% static 'pic/icon/phone.png' %}">
        09226725756
    </div>
    <a href = "mailto: amirhossein47khalil@yahoo.com">
    <div>
        <img class="icon" src="{% static 'pic/icon/email.png' %}">
        amirhossein47khalil@yahoo.com
    </div>
    </a>
</div>




{% endblock content %}

