{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>
<div class="container">
    <h1>گزارش عمل جراحی</h1>
    <button onclick="window.print()" class="btn btn-primary btn-print"><img src="">پرینت</button>
    <div id="surgery-report-form" class="forms">
        <p class="file-number">{{ patient.file_number }}</p>
        <p class="patient-firstname">{{ patient.first_name }}</p>
        <p class="patient-lastname">{{ patient.last_name }}</p>
        <p class="doctor-name">{{ patient.docter_name }}</p>
        <p class="father-name">{{ patient.father_name }}</p>
        <p class="birth-date">{{ patient.birth_date }}</p>
        <p class="admission-date">{{ patient.date_of_admission }}</p>
        <p class="anesthesia-doctor">{{ patient.anesthesia_doctor_name }}</p>
    </div>
</div>


{% endblock content %}

