{% extends 'base.html' %}

{% block content %}
<div class="row">
    <button class="btn btn-primary back" onclick="history.back()">بازگشت</button>
</div>

<div class="container">
    <h1><span style="display: inline-block;">اطلاعات تعرفه </span> {{ tariff.pk }}</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <label>نام تعرفه به انگلیسی: </label>
                {{ form.tariff }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>حق العمل سنگ شکنی :</label>
                {{ form.kidney_crusher_cost }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>حق العمل بیهوشی :</label>
                {{ form.anesthetic_cost }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>هزینه دارو و لوازم مصرفی :</label>
                {{ form.drug_and_consumables_cost }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>هزینه تخت :</label>
                {{ form.bed }}
            </div>
        </div>

        <div class="flex-left">
            <input  type="submit" value="ذخیره" style="width: 18%;"/>
        </div>
    </form>
</div>
{% endblock content %}